!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title yayQuery: Dropdown
    %link{:href => "../assets/css/normalize.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/global.css", :rel => "stylesheet"}
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:src => "../assets/js/dropdown.js"}
  %body
    .container
      %h1 Dropdown
      %ul.dropdown
        %li.dropdown-toggle
          %a{:href => "#"} Menu
        %li.dropdown-item
          %a{:href => "#"} Link
        %li.dropdown-item
          %a{:href => "#"} Link
        %li.dropdown-item
          %a{:href => "#"} Link
        %li.dropdown-item
          %a{:href => "#"} Link
