!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %title yayQuery: Weekday
    %link{:href => "../assets/css/normalize.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/global.css", :rel => "stylesheet"}
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{:src => "../assets/js/weekday.js"}
  %body
    .container
      %h1 Weekday
      %p.day
