/*================
    global.css
================*/

/* General container */

.container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 720px;
}

/* Images */

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/* Remove generic list styles */

.dropdown,
.slideshow {
  padding: 0;
  list-style: none;
}

/*--------------
   scroll.js
--------------*/

/* Remove the margin in favor for padding so that the scrolling
 * lands a bit "higher up" on the target. */

#top {
  margin-top: 0;
  padding-top: 1em;
}

/*----------------
   dropdown.js
----------------*/

.dropdown {
  max-width: 240px;
  background-color: #ccc;
  border-radius: 4px;
}

  .dropdown-toggle,
  .dropdown-item {
    padding: 8px 0;
    text-align: center;
  }

/*-----------------
   slideshow.js
-----------------*/

.slideshow {
  position: relative;
}

  .slideshow-item {
    position: absolute;
  }
